* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div .cardContainer {
  display: flex;
  width: 100vw;
  padding: 20px;
}

/*idCard*/

.idCardStyle {
  border: solid black 2px;
  display: flex;
  margin: 30px;
}

.idCardInfo {
  margin-top: 10px;
  margin-left: 20px;
}

.idCardStyle img {
  height: 200px;
  padding: 10px;
}

/*Greetings & Random*/

.greetingCardStyle {
  border: solid black 1px;
  margin: 30px;
}

.greetingCardInfo {
  margin: 10px;
}

/*BoxColor*/

.boxColorStyle {
  border: solid black 1px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boxColorInfo { 
  margin: 30px;
}

/*Credit Card*/

div .creditCard {
  width: 300px;
  border-radius: 10px;
  padding-bottom: 1px;
  margin: 20px;
  padding: 25px;
}

div .creditCardImg {
  display: flex;
  justify-content: end;
  padding: 15px;
}

div .creditCard img{
  height: 15px;
}

.creditCardNumber {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 5px;
}


/*Rating*/

.ratingCard {
  display: flex;
  margin: 30px;
  font-size: 40px;
}

/*DriveCard*/

.driveCard {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #465fb6;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
}

.driveCardImg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 10px;
}

.driveCardText {
  color: white;
  text-align: left;
  margin-left: 10px;
}

.likebutton {
  margin: 30px;
}

img.glasses {
  height: 250px;
  margin: 30px;
}